.audio-content{
    width: 980px;
    margin:0 auto ;
    height: 47px;
}
.btns{
    width: 137px;
    /*overflow: hidden;*/
    float: left;
    padding: 6px 0 0;
}

.btns a{
    float: left;
    background: url("../../static/playbar.png") no-repeat 0 9999px;
    text-indent: -9999px;
    margin-right: 8px;
    margin-top: 5px;
    height: 28px;
    width: 28px;
}
a.prev{
    background-position: 0 -130px;
}
a.next{
    background-position: -80px -130px;
}
a.audio-play{
    background-position: 0 -165px;
}
a.audio-paused{
    background-position: 0 -204px;
}
a.play-pauseBtn{
    width: 36px;
    height: 36px;
    margin-top: 0;
}
.audio-content .sing-image{
    margin: 6px 15px 0 0;
    width: 34px;
    height: 34px;
    background: red;
    float: left;
}

.audio-content .audio-play-control{
    float: left;
    width: 608px;
    /*height: 20px;*/
    background: yellow;
}

.audio-content .audio-play-control .audio-info{
    font-size: 12px;
}

.audio-content .audio-play-control .audio-info .audio-name{
    line-height: 28px;
}